<template>
  <div class="w-full my-2">
    <button
      v-if="!hide"
      class="text-xl py-2 px-4 focus:outline-none focus:ring focus:ring-offset-2 w-48"
      :class="colors"
      :style="`color: ${fontColor}`"
    >
      {{ label }}
    </button>
  </div>
</template>

<script lang="ts">
import { Vue, Component, Prop } from 'vue-property-decorator';

type TailwindColor =
  | 'red'
  | 'blue'
  | 'green'
  | 'yellow'
  | 'purple'
  | 'gray'
  | 'indigo'
  | 'pink';

@Component
export default class TailwindButton extends Vue {
  /** The main text on the button */
  @Prop({ type: String, default: 'Click!' }) label!: string;
  @Prop({ type: String, default: 'red' }) color!: TailwindColor;
  @Prop({ type: String, default: 'round' }) shape!: 'round' | 'square';
  @Prop({ type: String, default: 'white' }) fontColor!: string;

  /** hides the button from display */
  @Prop({ default: false }) hide!: boolean;

  get colors() {
    return [
      `focus:ring-${this.color}-300`,
      `bg-${this.color}-600`,
      { 'rounded-lg': this.shape === 'square' },
      { 'rounded-full': this.shape === 'round' }
    ];
  }
}
</script>
