<template>
  <div class="w-full flex flex-row flex-wrap">
    <Button />
    <Button :label="'Yellow'" color="yellow" />
    <Button label="Blue" color="blue" shape="square" />
  </div>
</template>

<script lang="ts">
import { Component, Prop, Vue } from 'vue-property-decorator';
import Button from './SimpleButtons/TailwindButton.vue';

@Component({
  components: {
    Button
  }
})
export default class HelloWorld extends Vue {
  @Prop() private msg!: string;
}
</script>
